@import './components/header';
@import './components/footer';
@import './components/links';
@import './components/form';
@import './components/flex';
@import './components/login';

body {
    font-family: sans-serif;

    @media screen and (max-width: 750px) {
        font-size: 150%;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}