@mixin heading-background ($Length) {
    padding: 10px;
    transform: translateX(-25%);
    white-space: nowrap;
    background-color: #FFC2C2;
    box-shadow: $Length 10px #cfbbbb;

    h1 {
        translate: calc($Length/2) 5px;
        font-weight: 200;
    }
}